*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #020410;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.nav-bar a {
    position: relative;
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}
.nav-bar a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    bottom: -6px;
    transform:translateY(10px);
    transition: .5s;
    opacity: 0;
}

.nav-bar a:hover:after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}

.search-bar input::placeholder{
    color: #e4e4e4;
} 
.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    display: flex;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.background{
    width: 100%;
    height: 100vh;
    background: url('backgroud.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}
.search-bar button i{
    font-size: 22px;
    color: #e4e4e4;
}

.container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 550px;
    background: url('backgroud.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;

}
.text-sci .logo{
    font-size: 30px;
}
.text-sci h2{
    font-size: 40px ;
    line-height: 1;
}

.content h2 span{
    font-size: 25px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}
.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header .logo{
    margin-bottom: 15px;
    color: #e4e4e4;
}
.container .content.btn{
    height: 30px;
    width: 50px;
}
.btn-s{
    display: block;
    font-size: 36px;
    color: #e4e4e4;
    width: 250px;
    height: 100%;
    border-radius: 20px;
    border: none;
    outline-style: none;
    margin-top: 5px;
    cursor: pointer;
    background: #c4103d;
}
.btn-s i a {
    color: #e4e4e4;
}



.nav-bar-side{
    position: fixed;
    width: 200px;
    height: 100%;
    border-left: #c4103d;
    transition: .5s;
    overflow: hidden;
}
.nav-bar-side.active{
    width: 70px;
}

.nav-bar-side ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-bar-side ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .nav-bar-side ul li:hover,
  .nav-bar-side li.hovered {
    background-color: palevioletred;
  }
  
  .nav-bar-side ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
  
  .nav-bar-side ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: palevioletred;
  }
  .nav-bar-side ul li:hover a,
  .nav-bar-side ul li.hovered a {
    color: #c4103d;
  }
  
  .nav-bar-side ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
  }
  
  